<!DOCTYPE html>
<html lang="zh" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <script th:src="@{/libs/jquery/jquery.min.js}"></script>
    <script th:src="@{/libs/bootstrap/bootstrap.min.js}"></script>
    <!-- bootstrap-table 表格插件 -->
    <script th:src="@{/libs/bootstrap-table/bootstrap-table.min.js?v=20210602}"></script>
    <script th:src="@{/libs/bootstrap-table/locale/bootstrap-table-zh-CN.min.js?v=20210602}"></script>
    <script th:src="@{/libs/bootstrap-table/extensions/mobile/bootstrap-table-mobile.js?v=20210602}"></script>
    <!-- 遮罩层 -->
    <script th:src="@{/libs/blockUI/jquery.blockUI.js}"></script>
    <script th:src="@{/libs/layer/layer.min.js}"></script>
    <!-- 方法封装 -->
    <script type="module" th:src="@{/js/salary.js}"></script>
</div>