<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head >
    <th:block th:include="header :: header('角色管理')"/>
    <th:block th:include="header :: ztree-css"/>
</head>
<body>
<th:block th:include="header :: footer"/>
<th:block th:include="header :: ztree-js"/>
<div class="layuimini-container">
    <div class="layuimini-main">
        <!--头部工具栏-->
        <script type="text/html" id="headerToolBar">
            <form class="layui-form layui-form-pane" style="background-color: #FFFFFF;"
                  th:hidden="!${@permission.hasPermi('system:role:select')}" action="">
                <div class="layui-inline">
                    <label class="layui-form-label">角色名称</label>
                    <div class="layui-input-inline">
                        <input type="text"  id="role_name" style="height: 38px" class="form-control">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">权限字符</label>
                    <div class="layui-input-inline">
                        <input type="text" id="role_key" style="height: 38px" class="form-control">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">角色状态</label>
                    <div class="layui-input-inline">
                        <select id="role_status">
                            <option value="">所有</option>
                            <option value="0">正常</option>
                            <option value="1">停用</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button type="button" class="layui-btn layui-btn-primary " id="search" lay-event="searchRole" >
                        <i class="layui-icon"></i>
                    </button>
                </div>
            </form>
        </script>

        <!--表格-->
        <table class="layui-hide" id="layui-table" lay-filter="layui-table" style="margin-bottom: unset"></table>

        <!--侧边栏-->
        <script type="text/html" id="sideToolBar">
            {{#
                var updateFlag = [[${@permission.hasPermi('system:role:update')}]];
                var deleteFlag = [[${@permission.hasPermi('system:role:delete')}]];
            }}
            {{#  if(d.user_id!=1&&updateFlag){ }}
                <a class="layui-btn layui-btn-xs layui-icon-edit layui-icon" lay-event="updateRole"></a>
            {{#  } }}
            {{#  if(d.user_id!=1&&deleteFlag){ }}
                <a class="layui-btn layui-btn-xs layui-btn-danger layui-icon-delete layui-icon"
                   lay-event="deleteRole"></a>
            {{#  } }}
        </script>

        <!--侧边栏状态开关-->
        <script type="text/html" id="status">
            {{#
                var updateFlag = [[${@permission.hasPermi('system:user:update')}]];
                if(d.user_id!=1&&updateFlag){ }}
                <input type="checkbox" name = "status" value = {{d.role_id}}
                       lay-skin="switch" lay-filter="status" {{ d.status == '0' ? 'checked' : '' }}>
            {{#  } }}
        </script>
    </div>
</div>
<script type="text/javascript">
    if(!$.common.isExist($.cache.get('user'))||!$.common.isExist(localStorage.user)){
        window.top.location="login";
    }
    if(!$.common.isExist(roles)||!$.common.isExist(menus)||!$.common.isExist(depts)){
        $.cache.init();
    }
    var insertFlag = [[${@permission.hasPermi('system:role:insert')}]];
    var deleteFlag = [[${@permission.hasPermi('system:role:delete')}]];
    var exportFlag = [[${@permission.hasPermi('system:role:export')}]];
    var defaultToolbar=[];
    if(insertFlag){
        defaultToolbar.push({
            title: '添加角色',
            layEvent: 'insertRole',
            icon: 'layui-icon-add-1'
        });
    }
    if(deleteFlag){
        defaultToolbar.push({
            title: '批量删除',
            layEvent: 'deleteCombineRole',
            icon: 'layui-icon-delete'
        });
    }
    if(exportFlag){
        defaultToolbar.push({
            title: '导出数据',
            layEvent: 'exportRoleFile',
            icon: 'layui-icon-export'
        });
    }
    defaultToolbar.push( 'filter');

    var options={
        elem: '#layui-table',
        url: crx+'/role/getPageRole',
        toolbar:'#headerToolBar',
        headers:{
            token:$.cache.get("user").token,
            login_name:$.cache.get("user").user.login_name
        },
        defaultToolbar: defaultToolbar,
        cols: [{
            type: "checkbox",
        },
            {
                type:'numbers',
                title: '序号',
            },
            {
                field:'role_name',
                title: '角色名称',
            },
            {
                field:'role_key',
                title: '权限字符',
            },
            {
                field:'status',
                title: '状态',
                templet:'#status'
            },
            {
                field:'create_time',
                title: '创建时间',
                sort: true,
            },
            {
                fixed: 'right',
                title: '操作',
                toolbar: '#sideToolBar',
            }
        ],
        parseData: function (result) {
            if(result.code===0){
                return {
                    "code": result.code,//解析接口状态
                    "msg": result.msg,//解析提示文本
                    "count": result.data.total,//解析数据长度
                    "data": result.data.list//解析数据列表
                };
            }else{
                $.modal.msgError('表格加载失败',function () {});
            }
        },
    };
    $.table.init(options);

    layui.use(['form','table','excel'],function () {
        var table = layui.table;
        var form = layui.form;
        var excel = layui.excel;
        //监听头部工具栏事件
        table.on(('toolbar(layui-table)'), function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'searchRole':
                    searchRole(table);
                    break;
                case 'insertRole':
                    insertRole(form,table);
                    break;
                case 'deleteCombineRole':
                    deleteCombineRole(table,checkStatus);
                    break;
                case 'exportRoleFile':
                    exportRoleFile(excel);
                    break;
            }
        });

        //监听侧边工具栏事件
        table.on(('tool(layui-table)'), function (obj) {
            const data = obj.data;
            switch (obj.event) {
                case 'updateRole':
                    updateRole(form,data);
                    break;
                case 'deleteRole':
                    deleteRole(data,table);
                    break;
            }

        });

        //监听用户状态事件
        form.on('switch(status)', function(obj){
            var role_id = obj.value;
            var status = this.checked ? '0' : '1';
            changeRoleStatus(form,role_id,status);
        });
    });
</script>
<script th:src="@{/js/system/role/role.js}" type="text/javascript"></script>
</body>
</html>