<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="shortcut icon" th:href="@{/favicon.ico}" />
    <link rel="bookmark" th:href="@{/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/libs/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/libs/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/libs/layuimini/css/themes/default.css}">
    <link rel="stylesheet" th:href="@{/libs/layuimini/css/layuimini.css}">
    <link rel="stylesheet" th:href="@{/libs/layuimini/css/public.css}">
    <link rel="stylesheet" th:href="@{/css/ry-ui.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <script th:src="@{/libs/jquery/jquery.min.js}"></script>
    <script th:src="@{/libs/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/libs/layui/layui.js}"></script>
    <script th:src="@{/libs/layuimini/js/lay-config.js}"></script>
    <script th:src="@{/libs/blockUI/jquery.blockUI.js}"></script>
    <script th:src="@{/js/salary.js}"></script>
    <script th:src="@{/libs/md5/md5.js}"></script>
    <title>首页</title>
</head>
<body class="layui-layout-body layuimini-all">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header header">
        <div class="layui-logo layuimini-logo"></div>
        <div class="layuimini-header-content">
            <a><div class="layuimini-tool"><i title="展开" class="fa fa-outdent" data-side-fold="1"></i></div></a>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" data-refresh="刷新"><i class="fa fa-refresh"></i></a>
                </li>
                <li class="layui-nav-item" lay-unselect>
                    <a href="javascript:;" data-clear="清理" class="layuimini-clear"><i class="fa fa-trash-o"></i></a>
                </li>
                <li class="layui-nav-item mobile layui-hide-xs" lay-unselect>
                    <a href="javascript:;" data-check-screen="full"><i class="fa fa-arrows-alt"></i></a>
                </li>
                <li class="layui-nav-item layuimini-setting">
                    <a href="javascript:;"><span id="userName">user</span></a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" id="personInfo" data-title="基本资料" data-icon="fa fa-gears">基本资料<span class="layui-badge-dot"></span></a>
                        </dd>
                        <dd>
                            <a href="javascript:;" id="updatePassword" data-title="修改密码" data-icon="fa fa-gears">修改密码</a>
                        </dd>
                        <dd>
                            <hr>
                        </dd>
                        <dd>
                            <a href="javascript:;" class="login-out">退出登录</a>
                        </dd>
                        <dd></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layuimini-select-bgcolor" lay-unselect>
                    <a href="javascript:;"></a>
                </li>
            </ul>
        </div>
    </div>

    <!--无限极左侧菜单-->
    <div class="layui-side layui-bg-black layuimini-menu-left">
    </div>

    <!--初始化加载层-->
    <div class="layuimini-loader">
        <div class="layuimini-loader-inner"></div>
    </div>

    <!--手机端遮罩层-->
    <div class="layuimini-make"></div>

    <!-- 移动导航 -->
    <div class="layuimini-site-mobile"><i class="layui-icon"></i></div>

    <div class="layui-body">
        <div class="layuimini-tab layui-tab-rollTool layui-tab" lay-filter="layuiminiTab" lay-allowclose="true">
            <ul class="layui-tab-title">
                <li class="layui-this" id="layuiminiHomeTabId" lay-id=""></li>
            </ul>
            <div class="layui-tab-control">
                <li class="layuimini-tab-roll-left layui-icon layui-icon-left"></li>
                <li class="layuimini-tab-roll-right layui-icon layui-icon-right"></li>
                <li class="layui-tab-tool layui-icon layui-icon-down">
                    <ul class="layui-nav close-box">
                        <li class="layui-nav-item">
                            <a href="javascript:;"><span class="layui-nav-more"></span></a>
                            <dl class="layui-nav-child">
                                <dd><a href="javascript:;" layuimini-tab-close="current">关 闭 当 前</a></dd>
                                <dd><a href="javascript:;" layuimini-tab-close="other">关 闭 其 他</a></dd>
                                <dd><a href="javascript:;" layuimini-tab-close="all">关 闭 全 部</a></dd>
                            </dl>
                        </li>
                    </ul>
                </li>
            </div>
            <div class="layui-tab-content">
                <div id="layuiminiHomeTabIframe" class="layui-tab-item layui-show"></div>
            </div>
        </div>
    </div>
</div>

//编辑基本资料
<form class="layui-form layuimini-form" id="updateUserInfo" style="margin-top: 3%; display:none; text-align: center;">
    <input id="user_id" type="text" value="" style="display: none"/>

    <div class="layui-form-item" >
        <label class="layui-form-label">登录名：</label>
        <div class="layui-input-block" style="width: 50%;">
            <input type="text" id="login_name" value="" class="layui-input" readonly style="border: none" />
        </div>
    </div>

    <div class="layui-form-item" >
        <label class="layui-form-label">角色名：</label>
        <div class="layui-input-block" style="width: 50%;">
            <input type="text" id="role_name" value="" class="layui-input" readonly style="border: none" />
        </div>
    </div>

    <div class="layui-form-item" >
        <label class="layui-form-label required">真实性名：</label>
        <div class="layui-input-block" style="width: 50%;">
            <input type="text" id="real_name" value="" class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item" >
        <label class="layui-form-label required">用户名：</label>
        <div class="layui-input-block" style="width: 50%;">
            <input type="text" id="user_name" value="" class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item" >
        <label class="layui-form-label required">手机号：</label>
        <div class="layui-input-block" style="width: 50%;">
            <input type="text" id="phone_number" value="" class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item" >
        <label class="layui-form-label required">性别：</label>
        <div class="layui-input-block" style="width: 50%;">
            <input type="radio" name="sex" value="1" title="男" />
            <input type="radio" name="sex" value="0" title="女" />
        </div>
    </div>

    <div class="layui-form-item" >
        <label class="layui-form-label required">邮箱：</label>
        <div class="layui-input-block" style="width: 50%;">
            <input type="text" id="email" value="" class="layui-input" />
        </div>
    </div>
</form>

//修改密码
<div class="layui-form layuimini-form"  id="updateUser" style="margin-top: 3%; display:none; text-align: center;">
    <div class="layui-form-item" >
        <label class="layui-form-label required">原密码：</label>
        <div class="layui-input-block" style="width: 50%;">
            <input type="password" id="old_password" value="" class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item" >
        <label class="layui-form-label required">新密码：</label>
        <div class="layui-input-block" style="width: 50%;">
            <input type="password" id="new_password" value="" class="layui-input" />
        </div>
    </div>

    <div class="layui-form-item" >
        <label class="layui-form-label required">确认密码：</label>
        <div class="layui-input-block" style="width: 50%;">
            <input type="password" id="two_password" value="" class="layui-input" />
        </div>
    </div>
</div>

<script type="text/javascript">
    if(localStorage.user===undefined||localStorage.user===null){
        window.top.location="login";
    }
    user = $.cache.get('user');
    document.getElementById("userName").innerText = (user.user.real_name);
    if($.cache.get('roles')===null||$.cache.get('menus')===null||$.cache.get('depts')===null){
        $.operate.post(crx+'/init',{role_id:user.user.role_id},callback);
        function callback(result) {
            if(result.code===0){
                $.cache.set("roles",result.data.roles, -1); //将返回的数据存到localStorage并设置过期时间为永久
                $.cache.set("menus",result.data.menus, -1);
                $.cache.set("depts",result.data.depts, -1);
            }
        }
    }

    layui.use(['jquery', 'layer', 'miniAdmin','form'], function () {

        var $ = layui.jquery,
            layer = layui.layer,
            form = layui.form,
            miniAdmin = layui.miniAdmin;
        var options = {
            iniUrl: crx+"/menu/getMenu?role_id="+user.user.role_id,    // 初始化接口
            clearUrl: crx+"/cache/clearAll", // 缓存清理接口
            urlHashLocation: true,      // 是否打开hash定位
            bgColorDefault: false,      // 主题默认配置
            multiModule: true,          // 是否开启多模块
            menuChildOpen: false,       // 是否默认展开菜单
            loadingTime: 0,             // 初始化加载时间
            pageAnim: true,             // iframe窗口动画
            maxTabNum: 20,              // 最大的tab打开数量
        };
        miniAdmin.render(options);
        $('.login-out').on("click", function () {
            layer.msg('退出登录成功', {
                icon: 1,
                time: 1000
            }, function () {
                window.top.location = 'login';
            });
        });

        //修改资料
        $("#personInfo").click(function() {
            layer.open({
                type: 1,
                title: ["个人信息", "font-size:14px"],
                area: ["25%", "70%"],
                btn: ['保存', '取消'],
                content: $("#updateUserInfo"),
                btnAlign: "c",
                success:function(index,layero){  //用户信息赋值
                    $.operate.get(crx+'/user/getOneUser?login_name='+user.user.login_name,function (result) {
                        var user = result.data;
                        $.operate.setInput("user_id",user.user_id);
                        $.operate.setInput("login_name",user.login_name);
                        $.operate.setInput("role_name",user.role_name);
                        $.operate.setInput("real_name",user.real_name);
                        $.operate.setInput("user_name",user.user_name);
                        $.operate.setInput("phone_number",user.phone_number);
                        $.operate.setRadio('sex',user.sex);
                        $.operate.setInput("email",user.email);
                        form.render();
                    });
                },
                yes: function(index, layero) {
                    var send = {
                        "user_id": $("#user_id").val(),
                        "real_name": $("#real_name").val(),
                        "user_name": $("#user_name").val(),
                        "phone_number": $("#phone_number").val(),
                        "sex": $("input[name='sex']:checked").val(),
                        "email": $("#email").val(),
                        "updater": user.user.user_id,
                    };
                    $.operate.jsonPost(crx+"/user/updateUser",JSON.stringify(send),function (result) {
                        if(result.code!==0){
                            $.modal.msgError(result.msg);
                        }else{
                            $.modal.msgSuccess(result.msg);
                        }
                        $('#updateUserInfo')[0].reset();
                        layer.close(index);
                    });
                }
            })
        });

        //修改密码
        $("#updatePassword").click(function() {
            layer.open({
                type: 1,
                title: ["修改密码", "font-size:14px"],
                area: ["25%", "40%"],
                btn: ['修改', '取消'],
                content: $("#updateUser"),
                btnAlign: "c",
                yes: function(index, layero) {
                    var old_password = $("#old_password").val();
                    var new_password = $("#new_password").val();
                    var two_password = $("#two_password").val();
                    if(old_password===""||new_password===""||two_password===""){
                        $.modal.msgError("密码不能为空");
                        return;
                    }
                    if(new_password!==two_password){
                        $.modal.msgError("密码不一致");
                        return ;
                    }
                    var send = {
                        "user_id": user.user.user_id,
                        "login_name":user.user.login_name,
                        "password":hex_md5(new_password),
                        "updater": user.user.user_id,
                    };
                    $.operate.jsonPost(crx+'/user/updateUserPassword',JSON.stringify(send),function (result) {
                        if(result.code===0){
                            $.modal.msgSuccess('修改成功',function () {
                                window.top.location = 'login';
                            });
                        }else{
                            $.modal.msgError("密码错误");
                        }
                    });
                    layer.close(index);
                }
            })
        });

        //验证原密码
        $("#old_password").blur(function() {
            var old_password = $("#old_password");
            if(old_password.val()!==""){
                var login_name =  user.user.login_name;
                if(login_name===""){
                    $.modal.alertError('请重试');
                    window.location.reload();
                }
                var send={
                    "login_name":login_name,
                    "password":hex_md5(old_password.val())
                };
                $.operate.jsonPost(crx+"/user/verifyUserPassword",JSON.stringify(send),function(result){
                    if(result.code!==0){
                        layer.msg(result.msg);
                        $("#old_password").val("");
                    }
                });
            }
        });
    });
</script>
</body>
</html>
