<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="shortcut icon" th:href="@{/favicon.ico}" />
    <link rel="bookmark" th:href="@{/favicon.ico}" />
    <link rel="stylesheet" th:href="@{/libs/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/libs/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/libs/jquery/jquery.min.js}"></script>
    <script th:src="@{/libs/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/libs/layui/layui.js}"></script>
    <script th:src="@{/libs/blockUI/jquery.blockUI.js}"></script>
    <script th:src="@{/libs/md5/md5.js}"></script>
    <script th:src="@{/js/util.js}"></script>
</head>
<body>

<div class="wrap">
    <img th:src="@{/img/background.jpg}" class="imgStyle">
    <div class="loginForm">
        <form>
            <div class="logoHead" style="width: 80%">
                <h3 style="margin-top: 15px;text-align:center">工资管理系统</h3>
            </div>
            <div class="usernameWrapDiv">
                <div class="usernameLabel">
                    <label>用户名:</label>
                </div>
                <div class="usernameDiv">
                    <i class="layui-icon layui-icon-username adminIcon"></i>
                    <input id="loginUsername" value="root" class="layui-input adminInput" required type="text" name="username" placeholder="输入用户名" >
                </div>
            </div>
            <div class="usernameWrapDiv">
                <div class="usernameLabel">
                    <label>密码:</label>
                </div>
                <div class="passwordDiv">
                    <i class="layui-icon layui-icon-password adminIcon"></i>
                    <input id="loginPassword" value="123456" class="layui-input adminInput" required type="password" name="password" placeholder="输入密码">
                </div>
            </div>
            <div class="usernameWrapDiv">
                <div class="usernameLabel">
                    <label>验证码:</label>
                </div>
                <div class="cardDiv">
                    <input id="loginCard" value="1234" class="layui-input cardInput" type="text" name="card" placeholder="输入验证码">
                </div>
                <div class="codeDiv" >
                    <a href="#">
                        <img id="loginCode" src="">
                    </a>
                </div>
            </div>
            <div class="usernameWrapDiv">
                <div class="submitLabel">
                    <label></label>
                </div>
                <div class="submitDiv">
                    <input id="loginBtn" type="button" class="submit layui-btn layui-btn-primary" value="登录"/>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    /**
     * date: 2021/08/7
     * description: 登录
     * require:
     * author: 庞海
     * version: 1.0
     *
     */

    layui.use(['layer'],function () {
        var layer = layui.layer;
    });

    $(function () {
        // 页面初始化生成验证码
        window.onload = createCode();
        // 验证码切换
        $('#loginCode').click(function () {
            createCode();
        });
        // 登陆事件
        $('#loginBtn').click(function () {
            login();
        });
    });

    // 生成验证码
    function createCode() {
        document.getElementById("loginCode").src=crx+'/getVerify'+"?math="+Math.random();
    }
    // 校验用户名、密码
    function validateCode() {
        var loginUsername = $('#loginUsername').val();
        var loginPassword = $('#loginPassword').val();
        var loginImgCode = $('#loginCard').val();
        if ($.trim(loginUsername) === '' || $.trim(loginUsername).length<=0){
            layer.msg('帐号不能为空', {icon: 2,time: 1000});
            return false;
        }
        if ($.trim(loginPassword) === '' || $.trim(loginPassword).length<=0){
            layer.msg("密码不能为空", {icon: 2,time: 1000});
            return false;
        }
        if (loginImgCode.length<=0){
            layer.msg("验证码不能为空", {icon: 2,time: 1000});
            return false;
        }
        return true;
    }
    // 登录流程
    function login() {
        if (!validateCode()){
            //阻断提示
        }else {
            var loginUsername = $('#loginUsername').val();
            var loginPassword = $('#loginPassword').val();
            var loginImgCode = $('#loginCard').val();

            $('#loginBtn').val("正在登录...");
            var data={
                "login_name":loginUsername,
                "password":hex_md5(loginPassword),
                "captcha":loginImgCode,
            };
            $.operate.jsonPost(crx+'/login',JSON.stringify(data),callback);
            $('#loginBtn').val("登录");
            resetAll();
        }
    }

    //登录回调
    function callback(result) {
        if(result.code===web_status.FAIL){
            $.modal.msgError(result.msg,function () {});
        }else{
            $.cache.set("user",result.data, expire_user); //将返回的数据存到localStorage并设置过期时间60分钟
            $.modal.msgSuccess(result.msg,function () {
                window.location='index';//消息提示回调
            });
            $.modal.closeLoading();
        }
    }

    //重置输入框
    function resetAll(){
        $('#registerUsername').val("");
        $('#registerPassword').val("");
        $('#registerWellPassword').val("");
        $('#roleSelect').val("");
    }

</script>
</body>
</html>