<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="shortcut icon" th:href="@{favicon.ico}" />
    <link rel="bookmark" th:href="@{favicon.ico}" />
    <link rel="stylesheet" th:href="@{/libs/layui/css/layui.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/libs/jquery/jquery.min.js}"></script>
    <script th:src="@{/libs/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/libs/layui/layui.js}"></script>
    <script th:src="@{/libs/blockUI/jquery.blockUI.js}"></script>
    <script th:src="@{/libs/md5/md5.js}"></script>
    <script th:src="@{/js/salary.js}"></script>
    <script th:src="@{/js/login.js}" type="module"></script>
</head>
<body>

<div class="wrap">
    <img th:src="@{/img/background.jpg}" class="imgStyle">
    <div class="loginForm">
        <form>
            <div class="logoHead" style="width: 80%">
                <h3 style="margin-top: 15px;text-align:center">工资管理系统</h3>
            </div>
            <div class="usernameWrapDiv">
                <div class="usernameLabel">
                    <label>用户名:</label>
                </div>
                <div class="usernameDiv">
                    <i class="layui-icon layui-icon-username adminIcon"></i>
                    <input id="loginUsername" class="layui-input adminInput" required type="text" name="username" placeholder="输入用户名" >
                </div>
            </div>
            <div class="usernameWrapDiv">
                <div class="usernameLabel">
                    <label>密码:</label>
                </div>
                <div class="passwordDiv">
                    <i class="layui-icon layui-icon-password adminIcon"></i>
                    <input id="loginPassword" class="layui-input adminInput" required type="password" name="password" placeholder="输入密码">
                </div>
            </div>
            <div class="usernameWrapDiv">
                <div class="usernameLabel">
                    <label>验证码:</label>
                </div>
                <div class="cardDiv">
                    <input id="loginCard" class="layui-input cardInput" type="text" name="card" placeholder="输入验证码">
                </div>
                <div class="codeDiv" >
                    <a href="#">
                        <img id="loginCode" src="">
                    </a>
                </div>
            </div>
            <div class="usernameWrapDiv">
                <div class="submitLabel">
                    <label></label>
                </div>
                <div class="submitDiv">
                    <input id="loginBtn" type="button" class="submit layui-btn layui-btn-primary" value="登录"/>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>