<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head >
    <th:block th:include="header :: header('部门管理')"/>
</head>
<body>
<th:block th:include="header :: footer"/>
<div class="layuimini-container">
    <div class="layuimini-main">
        <!--头部工具栏-->
        <script type="text/html" id="headerToolBar">
            <form class="layui-form layui-form-pane" style="background-color: #FFFFFF;"
                  th:hidden="!${@permission.hasPermi('system:dept:select')}" action="">
                <div class="layui-inline">
                    <label class="layui-form-label">部门名称</label>
                    <div class="layui-input-inline">
                        <input type="text"  id="dept_name" style="height: 38px" class="form-control">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">负责人</label>
                    <div class="layui-input-inline">
                        <input type="text" id="leader" style="height: 38px" class="form-control">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">部门状态</label>
                    <div class="layui-input-inline">
                        <select id="dept_status">
                            <option value="">所有</option>
                            <option value="0">正常</option>
                            <option value="1">停用</option>
                        </select>
                    </div>
                </div>
                <div class="layui-inline">
                    <button type="button" class="layui-btn layui-btn-primary " id="search" lay-event="searchDept" >
                        <i class="layui-icon"></i>
                    </button>
                </div>
            </form>
        </script>

        <!--表格-->
        <table class="layui-hide" id="layui-table" lay-filter="layui-table"></table>

        <!--侧边栏-->
        <script type="text/html" id="sideToolBar">
            {{#
                var updateFlag = [[${@permission.hasPermi('system:dept:update')}]];
                var deleteFlag = [[${@permission.hasPermi('system:dept:delete')}]];
            }}
            {{#  if(updateFlag){ }}
            <a class="layui-btn layui-btn-xs layui-icon-edit layui-icon" lay-event="updateDept"></a>
            {{#  } }}
            {{#  if(deleteFlag){ }}
            <a class="layui-btn layui-btn-xs layui-btn-danger layui-icon-delete layui-icon"
               lay-event="deleteDept"></a>
            {{#  } }}
        </script>

        <!--侧边栏状态开关-->
        <script type="text/html" id="status">
            {{#
                var updateFlag = [[${@permission.hasPermi('system:dept:update')}]];
                if(updateFlag){ }}
                <input type="checkbox" name = "status" value = {{d.dept_id}}
                       lay-skin="switch" lay-filter="status" {{ d.status == '0' ? 'checked' : '' }}>
            {{#  } }}
        </script>
    </div>
</div>

<script type="text/javascript">
    if(!$.common.isExist($.cache.get('user'))||!$.common.isExist(localStorage.user)){
        window.top.location="login";
    }
    if(!$.common.isExist(roles)||!$.common.isExist(menus)||!$.common.isExist(depts)||!$.common.isExist(personSalary)){
        $.cache.init();
    }
    var insertFlag = [[${@permission.hasPermi('system:dept:insert')}]];
    var deleteFlag = [[${@permission.hasPermi('system:dept:delete')}]];
    var mergeFlag = [[${@permission.hasPermi('system:dept:merge')}]];
    var exportFlag = [[${@permission.hasPermi('system:dept:export')}]];
    var defaultToolbar=[];
    if(insertFlag){
        defaultToolbar.push({
            title: '添加部门',
            layEvent: 'insertDept',
            icon: 'layui-icon-add-1'
        });
    }
    if(deleteFlag){
        defaultToolbar.push({
            title: '批量删除',
            layEvent: 'deleteCombineDept',
            icon: 'layui-icon-delete'
        });
    }
    if(mergeFlag){
        defaultToolbar.push({
            title: '合并部门',
            layEvent: 'mergeDept',
            icon: 'layui-icon-transfer'
        });
    }
    if(exportFlag){
        defaultToolbar.push({
            title: '导出数据',
            layEvent: 'exportDeptFile',
            icon: 'layui-icon-export'
        });
    }
    defaultToolbar.push( 'filter');

    var options={
        elem: '#layui-table',
        url: crx+'/dept/getPageDept',
        toolbar:'#headerToolBar',
        headers:{
            token:$.cache.get("user").token,
            login_name:$.cache.get("user").user.login_name
        },
        defaultToolbar: defaultToolbar,
        cols: [{
            type: "checkbox",
        },
            {
                type:'numbers',
                title: '序号',
            },
            {
                field:'dept_name',
                title: '部门名称',
            },
            {
                field:'leader',
                title: '负责人',
            },
            {
                field:'phone',
                title: '联系电话',
            },
            {
                field:'email',
                title: '部门邮箱',
            },
            {
                field:'status',
                title: '状态',
                templet:'#status'
            },
            {
                field:'create_time',
                title: '创建时间',
                sort: true,
            },
            {
                fixed: 'right',
                title: '操作',
                toolbar: '#sideToolBar',
            }
        ],
        parseData: function (result) {
            if(result.code===0){
                return {
                    "code": result.code,//解析接口状态
                    "msg": result.msg,//解析提示文本
                    "count": result.data.total,//解析数据长度
                    "data": result.data.list//解析数据列表
                };
            }else{
                $.modal.msgError('表格加载失败',function () {});
            }
        },
    };
    $.table.init(options);

    layui.use(['form','table','excel'],function () {
        var table = layui.table;
        var form = layui.form;
        var excel = layui.excel;
        //监听头部工具栏事件
        table.on(('toolbar(layui-table)'), function (obj) {
            var checkStatus = table.checkStatus(obj.config.id);
            switch (obj.event) {
                case 'searchDept':
                    searchDept(table);
                    break;
                case 'insertDept':
                    insertDept(form,table);
                    break;
                case 'mergeDept':
                    mergeDept(table,checkStatus);
                    break;
                case 'deleteCombineDept':
                    deleteCombineDept(table,checkStatus);
                    break;
                case 'exportDeptFile':
                    exportDeptFile(excel);
                    break;
            }
        });

        //监听侧边工具栏事件
        table.on(('tool(layui-table)'), function (obj) {
            const data = obj.data;
            switch (obj.event) {
                case 'updateDept':
                    updateDept(form,data);
                    break;
                case 'resetPassword':
                    resetPassword(data,table);
                    break;
                case 'deleteDept':
                    deleteDept(data,table);
                    break;
            }

        });

        //监听部门状态事件
        form.on('switch(status)', function(obj){
            var dept_id = obj.value;
            var status = this.checked ? '0' : '1';
            changeDeptStatus(form,dept_id,status);
        });
    });
</script>
<script th:src="@{/js/system/dept/dept.js}" type="text/javascript"></script>
</body>
</html>